/*CSS Reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, a, em, img, ol, ul, li,
table, thead, tr, th, td,
article, aside, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*Float*/
.left {
    float: left;
}
.right {
    float: right;
}

/*Clearfix*/
.clearfix:after {
    visibility: hidden; 
    display: block;
    font-size: 0;  
    content: " ";
    clear: both;  
    height: 0;
}

/*General*/
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #eff1d8;
    font-family: "Century Gothic", sans-serif;
}
/*overflow for ellipsis in the end*/
.header, .help-line {
    overflow: hidden;
}

/*Header*/
.header {
    height: 110px;
    background-color: #353a33;
    color: white;
    line-height: 110px;
}
.logo {
    display: table; 
    position: relative;
    height: 100%;
    margin: 0 0 0 50px;
    padding: 0 0 0 55px; 
    font-size: 2em;
    color: inherit;
    text-decoration: none;
}
.logo-img {
    position: absolute;
    top: 30px;
    left: 0;
}
.logo-txt {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    line-height: 0.75em;
}
.logo-small {
    margin-right: 15px;
    font-size: 0.6em;
    font-style: italic;
}
.help-line {
    width: calc(100% - 420px);
    box-sizing: border-box;
    padding: 0 50px 0 0;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Navigation*/   
.navigation {
    position: relative;
    list-style: none;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
}
.navigation li {
    width: calc(100% / 7);
    float: left;

}
.navigation li a {
    display: block;
    position: relative;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    background-color: #81B82F;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
}
.navigation li a:hover {
    background-color: rgba(129, 184, 47, 0.8) ;
}

/*white triangles for navigation*/
.navigation li a:after {
    content : "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 5px);
    border: 5px solid transparent;
    border-bottom-color: white;
    opacity: 0.5;
}
.navigation li a.active:after {
    opacity: 1;
}

/*Slogan*/
.slogan {
    margin: 0;
    padding: 60px 50px;
    background-color: #485147;
    background: -moz-radial-gradient(27% 50%, circle closest-corner     
, #717771 0%, #485147 100%);
    background: -webkit-radial-gradient(27% 50%, circle closest-corner   
, #717771 0%, #485147 100%);
    background: -o-radial-gradient(27% 50%, circle closest-corner     
, #717771 0%, #485147 100%);
    background: -ms-radial-gradient(27% 50%, circle closest-corner   
, #717771 0%, #485147 100%);
    background: radial-gradient(27% 50%, circle closest-corner   
, #717771 0%, #485147 100%);
    color: white;
}
.slogan p {
    width: 55%;
    font-size: 3em;
}

/*Content*/
main {
    position: relative;
    padding: 30px 310px 50px 20px;
    background-color: #eff1d8;
    color: #707366;
}

/*style for box with shadow*/
.shadow {
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px #e2e5d0;
}
/*Text style*/
main section {
    margin-bottom: 20px;
}
main section h1 {
    margin-bottom: 8px;
    font-size: 14px;
    color: #353a33;  
}
main section p {
    font-size: 12px;
}

main section:first-child {
    margin-bottom: 30px;
}
main section:first-child img{
    float: left;
    margin-right: 20px;
}
main section:first-child h1 {
    margin-bottom: 13px;
    font-size: 23px;
    color: #989b8a;
}
main section:first-child p {
    color: #698e37;
}

main section:last-child h1 {
    color: #a5bc79;
}
main section:last-child p {
    color: #b4b8a2;
}

button, button:active, button:focus {
    outline: none;
}
main button {
    width: 110px;
    height: 28px;
    color: white;
    background: -moz-linear-gradient(top, #88ac50, #7cc116);
    background: -ms-linear-gradient(top, #88ac50, #7cc116);
    background: -o-linear-gradient(top, #88ac50, #7cc116);
    background: -webkit-linear-gradient(top, #88ac50, #7cc116);
    border-radius: 14px;
    border: 1px solid #959a87;
    color: white;
    cursor: pointer;
}
main > span {
    position: absolute;
    bottom: 60px;
    margin-left: 35px;
    font-size: 10px;
    color: #53574c;
}

/*Right side of main*/
main > img {
    position: absolute;
    right: 26px;
    top: -205px;
    transition: top 0.3s ease;
}
main > aside {
    position: absolute;
    right: 25px;
    top: 190px;
    width: 270px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px #e2e5d0;
    overflow: hidden;
    transition: top 0.3s ease;
}
main > aside h1 {
    padding: 10px;
    background: -webkit-linear-gradient(top, #8cac5b, #7dc117); 
    background: -moz-linear-gradient(top, #8cac5b, #7dc117);
    background: -ms-linear-gradient(top, #8cac5b, #7dc117);
    background: -o-linear-gradient(top, #8cac5b, #7dc117);
    border: 1px solid #9c9f92;
    color: white;
}
main > aside p {
    padding: 15px 10px;
    font-size: 10px;
    line-height: 35px;
    color: #929492;
    text-decoration: underline;
}
/*Some little animation:)*/ 
@media all and (max-width: 800px){
    main > img { top: 0;}
    main > aside {top: 450px;}
}

/*Footer*/
footer {
    padding: 18px 0;
    border-top: 1px solid #7fc020;
    font-size: 12px;
    text-align: center;
}


