html, body, ul, h1, h2, a, input {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.layout {
	position: relative;
	max-width: 990px;
	margin: 0 auto;
	padding: 10px;
}


/*Header*/

.header {
	background: #191919;
}

	/*Header > Logo*/

.logo {
	display: inline-block;
	padding: 20px 10px;
	border-radius: 10px;
	text-decoration: none;
	line-height: 1.5em;
	text-align: center;
}

.logo-text, 
.logo-addition	{display: inline-block;}

.logo-text {
	font: bold 2em sans-serif;
	letter-spacing: -2px;
}
.logo .logo-text {color: #FFFFFF;}
.logo:hover .logo-text{color: #F0C07D;}

.logo-addition {
	letter-spacing: -1px;
	margin: 0 0 0 10px;
}
.logo .logo-addition {color: #5A5A5A;}
.logo:hover .logo-addition {color: #594C3A;}

	/*Header > Search*/

.searching {
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	height: 35px;
	margin: auto 0;
}

.search-field,
.search-submit {
	vertical-align: top;
}

.search-field {
	height: 35px;
	width: 200px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #9C9C9C;
	outline: none;
	padding-left: 10px;
}

.search-submit {
	border: none;
	cursor: pointer;
	outline: none;
	width: 35px;
	height: 35px;
	background: url(../img/linse.png) no-repeat 4px 4px;
}

.search-submit:hover {
	border: 1px solid;
	border-color: gray #333 #333 gray;
	border-radius: 5px;
	background-color: #333;
}
.search-submit:active {
	border-color: #333 gray gray #333;
}

@media screen and (max-width: 720px) {
	.searching {
		position: relative;
		text-align: right;
	}
}

/*Navigation*/

.nav {
	background: #2FB59B;
	border-top: 1px solid #FCFFFA;
	border-bottom: 1px solid black;
}

.nav .layout, 
.list {
	list-style: none;
}

.list li {
	float: left;
	margin: 0 2px;
}

.list a {
	display: block;
	box-sizing: border-box;
	padding: 12px 22px;
	text-decoration: none;
	color: black;
	font: bold 0.8em sans-serif;
	border-radius: 5px;
	border: 1px solid #2FB59B;
}

.list a:hover {
	background: #3FC5AB;
	border: 1px solid white;
	border-color: #5Fe5cB #0F957B #0F957B #5Fe5cB;
	box-shadow: 1px 1px 1px #0d9379; 
	color: white;
}

@media screen and (max-width: 720px) {	

	.mobile-btn {
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		padding: 10px;
		box-sizing: border-box;
		margin-left: 5px; 
		border-radius: 5px;
		background-color: #777;
		left: 0;
		transition: left 0.5s;
	}

	.mobile-btn span {
	  display: block;
	  height: 5px;
	  background-color: #fff;
	  margin: 7px 0 0;
	  position: relative;
	  transition: transform 0.5s;
	}

	.mobile-btn span.first {
 	 margin-top: 0;
	}

	.list {
		position: absolute;
		background: #2FB59B;
		border-radius: 0 0 10px 0;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		width: 50%;
		text-align: center;
		left: -500px;
		top: 72px;
		padding: 10px;
		z-index: 2;
		transition: left 0.5s;
	}
	
	.list li {
		float: none;
		margin-top: 5px;
	}
	.list li:first-child {
		margin-top: 0;
	}

	.mobile-btn-slide {
		left: calc(100% - 60px);
	}
	.mobile-list-slide {
		left: 0;
	}

	.mobile-btn-slide span.first {
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	top: 12px;
	}

	.mobile-btn-slide span.second {
  	opacity: 0;
	}

	.mobile-btn-slide span.third {
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(45deg);
  	bottom: 12px;
	}
}


/*Slider*/

.slider {
	background: #53D1AF;
	border-top: 1px solid #FCFFFA;
	border-bottom: 1px solid black;
}
.slider .layout {
	padding: 0 10px 45px 10px;
}


/*Slider>Buttons*/

.btn {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 3;

}

.btn:hover {
	box-shadow: 0 0 40px #eee;
}

#prew {
	left: 15px;
	background: white url(../img/prew.png) no-repeat 10px 50%;
}

#next{
	right: 15px;
	background: white url(../img/next.png) no-repeat 12px 50%;
}

/*Slider > Content*/

.slides-list {
	list-style: none;
	background: url(../img/slider-background.png) 50% 10% no-repeat;
}

.slide { 
	padding: 15px 40px 0 40px; 
	text-align: center;
}

.hide {display: none;}

/* Slide Imgs*/

.slide-img {
	display: inline-block;
	float: left;
	transition: transform 0.5s;
}
.slide-img:hover{
	transform: scale(1.03);
}
.slide-img img {
	max-width: 100%;
}

/* Slide txt*/

.slide-txt{
	display: inline-block;
	min-width: 220px;
	width: calc(100% - 530px);
	vertical-align: top;
	margin: 40px 0 0 35px;
	text-align: left;
	color: white;	
}

.slide-txt h1,
.slide-txt ul {
	margin-bottom: 30px; 
}

/* Slide txt > ul*/

.slide-txt ul{
	margin-left: 20px;
	list-style-image: url(../img/list-img.png);
}
.slide-txt li {
	margin-top: 5px;
}

/* Slide txt > ul > button*/
.request-button {
	display: inline-block;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	padding: 10px 50px;
	color: white;
	border: 1px solid #C55000;
	border-radius: 10px;
	background: -webkit-linear-gradient(top, #F4A211 0%, #E56000 100%);
	background: -moz-linear-gradient(top, #F4A211 0%, #E56000 100%);
	box-shadow: 1px 1px 2px black;
	transition: transform 0.5s;
}

.request-button:active {
	background: -webkit-linear-gradient(top, #E49201 0%, #F57010 100%);
	background: -moz-linear-gradient(top, #E49201 0%, #F57010 100%);
}

.request-button:hover {
	box-shadow: 0 0 50px #C57622;
	color: #CCCCCC;
	transform: scale(1.05);
}

.request-button > span {font-weight: bold;}

@media screen and (max-width: 860px) {	

	.slider .layout {
		padding: 0;
	}

	#prew {
		left: 5px;
	}

	#next{
		right: 5px;
	}

	.slide-txt {
		width: auto;
		max-width: 480px;
		margin: 0 0 -40px 0;
	}

	.slide-img {
		float: none;
		position: relative;
		top: 50px;
	}

	.request-button {
		padding: 10px 20px;
	}

	.slide-txt h1,
	.slide-txt ul {
	margin-bottom: 15px; 
}

}







/*Main*/


/*.wrap {background-color: gray;}*/
.content-block {
	float: left;
	width: 48%; 
	color: #6C6C6C;
	font-size: 0.9em;
	line-height: 20px;
}

.container .content-block:nth-child(even){
	float: right;
}

.content-block header {
	margin-bottom: 30px; 
}

.content-block header h2 {
	color: black;
	padding: 10px;
	border-bottom: 1px solid #DCDCDC; 
}

.description {
	font-size: 0.9em;
	color: #CCC;
}

/*content-block > services*/

.services{
	font-size: 0.9em;
}

.services h3 {
	margin: 0 0 3px;
	color: #B7B7B7; 
}

.services p {
	margin: 3px 0; 
	color: #CCC;
}

.services a {
	box-sizing: border-box;
	position: relative;
	display: block;
	text-decoration: none;
	padding: 0 0 0 70px;
	margin: 0 0 20px;
	transition: transform 0.2s ease-out 0.1s;
}

.services a:before {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	background: url(../img/sprite.png) no-repeat 1px 0px;
	left: 10px;
}

.service2 > a:before {background-position: -46px 0;}

.service3 > a:before {background-position: 0px -47px;}

.service4 > a:before {background-position: -46px -48px;}

.services section:hover a{
	transform: scale(1.1);
}

.services section:hover h3,
.services section:hover p{
	color: #F0C07D;
}

/*content-block > news*/

.news p {
	margin: 0 0 25px; 
}

.news .date {
	font-weight: bold;
}

.more-news {
	cursor: pointer;
	background-color: #E0E0E0;
	padding: 5px 10px;
	color: #4D4D4D;
	outline: none;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 2px gray;
	transition: transform 0.5s;
}

.more-news:hover {
	box-shadow: 0 0 10px lightgray;
	transform: scale(1.1);
}

/*content-block > quotes*/

.quotes {
	background: url(../img/quotes.png) no-repeat 6px 62px;
}

.quotes article {
	margin: 0 0 0 20px;
}

.quotes article cite{
	display: block;
	margin: 25px 0;
	font-weight: bold;
	font-style: normal;
}

@media screen and (max-width: 960px) {
	
	.main {
		padding-top: 50px;
	}
}


/*Footer*/

.footer {
	background-color: #ECECEC;
	font-size: 0.8em; 
	
}

/*footer > logo*/

.footer .logo {
	padding: 15px;
}

.footer .logo-text {
	color: #A3A3A3;
}

.footer .logo-addition {
	color: #B7B7B7;
}

.footer .logo:hover .logo-text{
	color: #A3A3A3;
}

.footer .logo:hover .logo-addition{
	color: #B7B7B7;
}

/*footer > info*/

.footer .info {
	color: #868686;
	margin: 20px 0 0 0;
}

.footer .info p {
	margin: 0;
}

.urls {
	list-style: none;
	margin: 0 0 10px;
}

.urls a {
	text-decoration: none;
	color: #FFA14C;
	padding: 0 3px;
	border-left: 1px solid #868686;
}

.urls a:first-child {
	border-left: none;
}

.urls a:hover {
	color: #1B007D;
	border-bottom: 1px solid #1B007D;
}

.author {
	font-style: normal;
	color: #616161;
}




@media screen and (min-width: 420px){

	.services a{
		float: left;
		width: 50%;
	}
}

@media screen and (max-width: 720px) {	

	.content-block {
		float: none;
		width: auto;
		margin: 0 0 30px;
	}
}

@media screen and (max-width: 960px) {

	#prew {
		float: left;
	}

	#next {
		float: right;
	}

}
