html, body, ul {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.left {float: left;}
.right {float: right;}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.layout {
	max-width: 990px;
	margin: 0 auto;
}

/*Header*/
.header {
	background: #191919;
}
/*Header > Logo*/
.logo {
	padding: 25px 0;
	margin: 5px 10px;
	text-decoration: none;
}
.logo-text {
	font: bold 2em sans-serif;
	letter-spacing: -2px;
	color: #FFFFFF;
}
.logo-addition {
	white-space: nowrap;
	letter-spacing: -1px;
	color: #5A5A5A;
}
/*Header > Search*/
.search {
	position: relative;
	padding: 0 45px 0 0;
}
.searching {
	width: 180px;
	height: 35px;
	padding: 0 10px;
	border: none;
	border-radius: 5px;
	background-color: #333333;
	color: #9C9C9C;
}
.searching:after {
}


/*Navigation*/
.navigation {
	background: #2FB59B
}
/*Slider*/
.slider {
	background: #53D1AF
}
/*Main*/

/*Footer*/
.footer {
	background-color: #ECECEC;
}