html, body, ul {
	margin: 0;
	padding: 0;
}
.left {float: left;}
.right {float: right;}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.layout {
	max-width: 990px;
	margin: 0 auto;
}

/*Header*/
.header {
	background: #191919;
}

/*Navigation*/
.navigation {
	background: #2FB59B
}
/*Slider*/
.slider {
	background: #53D1AF
}
/*Main*/

/*Footer*/
.footer {
	background-color: #ECECEC;
}